<div class= 'main'>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="barra-login">
    <h2>Editar <%= resource_name.to_s.humanize %></h2>
    <%= current_user.email %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div class='login'>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "new-password" },
                placeholder: 'Nova senha',
                class:'senha',
                autofocus: true %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" }, 
                placeholder: 'Confirmar nova senha',
                class:'senha' %>
    <%= f.input :current_password,
                hint: "precisamos de sua senha atual para confirmar suas alterações",
                required: true,
                input_html: { autocomplete: "current-password" },
                placeholder: 'Senha atual',
                class:'senha' %>
    <%= f.button :submit, "Atualizar", class:'entrar'%>
  </div>
<% end %>
  
  <h3>Cancele minha conta</h3>

  <p>Infeliz? <%= link_to "Cancele minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Voltar", books_path %>
</div>
</div>