<body>
    <div class="main">
      <div class="header">
        <div class="titulo">
          <h1>Pergaminho<i class="fa-solid fa-book"></i></h1>
        </div>
        <div class="subtitulo">
          <h2>
            Sistema online da Biblioteca Central da Universidade Federal de
            Alpiste
          </h2>
        </div>
      </div>
      <div class="barra-login">
        <div>
          <h2>Crie sua conta</h2>
          <p>
            Se você é estudante da Universidade Federal de Alpiste ou
            funcionário da Biblioteca Central, utilize seu email para
            criar sua conta.
          </p>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="login">
              <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: 'Email', class: 'email'%>
              <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password" },
                placeholder: 'Senha', class:'senha' %>
              <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                placeholder: 'Confirmar senha', class: 'senha' %>

              <%= f.button :submit, "Criar conta", class:'entrar'%>
        <% end %>
          </div>
        <p class="cadastro-txt">
          Já possui uma conta?
          <%= render "devise/shared/links" %>
        </p>
      </div>
    </div>
    <footer>© 2022. Pergamum. Todos os direitos reservados.</footer>
  </body>
