<div class="container">
  <div id="<%= dom_id book %>">
      <%= book.name %>

    <p>
      <strong>Autor(a):</strong>
      <%= book.author %>
    </p>

      <%= book.desc %>

    <p>
      <strong>ISBN:</strong>
      <%= book.isbn %>
    </p>
  </div>
</div>


