<%= simple_form_for book do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

    <div class="container form_livro">
      <%= form.input :name, placeholder: 'Título' %>
      <%= form.input :author, placeholder: 'Autor' %>
      <%= form.input :desc, placeholder: 'Descrição' %>
      <%= form.input :date, label: 'Data de lançamento', html5: true%>
      <%= form.input :isbn, placeholder: 'ISBN' %>
      <%= form.association :category, prompt: "Selecionar categoria"%>

      <%= form.button :submit, "Atualizar livro", class: 'entrar' %>
    </div>
    
<% end %>
