<body>
  <main>
    <h1>Pergaminho<i class="fa-solid fa-book"></i></h1>
    <div class="pesquisa">

      <%= search_form_for @q do |f| %>
        <%= f.search_field :name_or_author_or_isbn_cont, placeholder:"Buscar por título, autor, obra...", 
                                       class:"barra-de-pesquisa"
                                       %>
        <%= f.button :Pesquisar, class:"pesquisa-btn" %> 
      <% end %>
    </div>
    <%= pluralize(@books.size, "Livro", "Livros")%>
    <div>
    <div class="livros">
          <% @books.each do |book| %>
            <ul class="card-livro">
                <li>
                  <%= link_to book.name, book, class: 'titulo' %> 
                  <%= book.author %> 
                </li>
                <li class="descricao_livro"><%= book.desc %></li>
            </ul>
          <% end %>
    </div>
    </div>
    <%= link_to "Novo livro", new_book_path%>
    <%= render 'pagination'%>
  </main>
</body> 