<body>
  <header class="menu">
    <p class="brand">Pergaminho<i class="fa-solid fa-book"></i></p>
    <div class="nav">
      <%= link_to "Início", root_path, class: 'inicio'%>
      <%= link_to "Categorias", categories_path, class: 'categorias' %>
      <%= link_to "Editar Perfil", edit_user_registration_path, class: 'perfil' %>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class:'sair'%>
    </div>
  </header>
  <main>
    <h1>Pergaminho<i class="fa-solid fa-book"></i></h1>
    <div class="pesquisa">
      <input
        class="barra-de-pesquisa"
        type="search"
        placeholder="Buscar por título, autor, obra..."
      />
      <button class="pesquisa-btn" type="button">
        Pesquisar
      </button>
    </div>
    <%= pluralize(@books.size, "Livro", "Livros")%>
    <div>
    <div class="livros">
          <% @books.each do |book| %>
            <ul class="card-livro">
                <li>
                  <%= link_to book.name, book, class: 'titulo' %> 
                  <%= book.author %> 
                </li>
                <li class="descricao_livro"><%= book.desc %></li>
            </ul>
          <% end %>
    </div>
    </div>
    <%= link_to "Novo livro", new_book_path%>
  </main>
  <%= render 'pagination'%>
</body> 