<body>
  <header class="menu">
    <p class="brand">Pergaminho<i class="fa-solid fa-book"></i></p>
    <div class="nav">
      <%= link_to "Início", root_path, class: 'inicio'%>
      <a class="perfil" href="#">Perfil</a>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class:'sair'%>
    </div>
  </header>
  <main>
    <h1>Pergaminho<i class="fa-solid fa-book"></i></h1>
    <div class="pesquisa">
      <input
        class="barra-de-pesquisa"
        type="search"
        placeholder="Buscar por título, autor, obra..."
      />
      <button class="pesquisa-btn" type="button">
        Pesquisar
      </button>
    </div>
    <%= pluralize(@books.size, "Livro", "Livros")%>
    <div>
    <ul>
          <% @books.each do |book| %>
            <div class="quack">
              <li> <h3>Nome:  </h3><%= link_to book.name, book%> </li>
              <li> Autor: <%= book.author %> </li>
              <li> Descrição: <%= book.desc %> </li>
              <li> <%= book.isbn %> </li>
            </div>
          <% end %>
    </ul>
    </div>
    <%= link_to "New Book", new_book_path%>
  </main>
  <%= render 'layouts/pagination'%>
  <footer>© 2022. Pergamum. Todos os direitos reservados.</footer>
</body> 