<header class="menu">
    <p class="brand">Pergaminho<i class="fa-solid fa-book"></i></p>
    <div class="nav">
      <%= link_to "Início", root_path, class: 'inicio'%>
      <%= link_to "Categorias", categories_path, class: 'categorias' %>
      <a class="perfil" href="#">Perfil</a>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class:'sair'%>
    </div>
</header>

<div class="container">
  <h1>Registrar novo livro</h1>

  <%= render "form", book: @book %>

  <div>
    <%= link_to "Página inicial", books_path %>
  </div>
</div>

