<%= simple_form_for category do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="container form_livro">
    <%= form.input :name, placeholder: 'Nome' %>
    <%= form.button :submit, class: 'entrar' %>
  </div>
<% end %>
