<header class="menu">
    <p class="brand">Pergaminho<i class="fa-solid fa-book"></i></p>
    <div class="nav">
      <%= link_to "Início", root_path, class: 'inicio'%>
      <%= link_to "Categorias", categories_path, class: 'categorias' %>
      <a class="perfil" href="#">Perfil</a>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class:'sair'%>
    </div>
</header>

<div class="container">
  <h1>Categorias</h1>

  <div id="categories">
    <% @categories.each do |category| %>
      <div class="container amostra_catg">
        <%= render category %>
        <p>
          <%= link_to "Mostrar categoria", category %>
        </p>
      </div>
      
    <% end %>
  </div>

  <%= link_to "Criar nova categoria", new_category_path %>
</div>
