<header class="menu">
    <p class="brand">Pergaminho<i class="fa-solid fa-book"></i></p>
    <div class="nav">
      <%= link_to "Início", root_path, class: 'inicio'%>
      <%= link_to "Categorias", categories_path, class: 'categorias' %>
      <a class="perfil" href="#">Perfil</a>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class:'sair'%>
    </div>
</header>

<div class="container">
  <h1>Criar nova categoria</h1>

  <%= render "form", category: @category %>

  <div>
    <%= link_to "Back to categories", categories_path %>
  </div>
</div>


